#chart {
max-width: 380px;
margin: 35px auto;
padding: 0;
}

.apexcharts-legend-text tspan:nth-child(1) {
font-weight: lighter;
fill: #999;
}

.apexcharts-legend-text tspan:nth-child(3) {
font-weight: bold;
}
